body {
    background-color: #12141f;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 8px;
    width:100%;
    background-color: #0c1d51;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 8px;
    margin: 0px;
    font-family: "HYWenhei", "Arial", "Helvetica", sans-serif;
}

a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #183489;
}

footer {
    padding: 8px;
    width:100%;
    background-color: #0c1d51;
    position: sticky;
    bottom: 0;
    font-family: "HYWenhei", "Arial", "Helvetica", sans-serif;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.version {
    color:rgb(167, 126, 175);
    font-size:16px;
}

.guide-content {
    width: 100%;
    max-width: 48rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 15px;
    background-color:#0f225b;
}

.credits {
    width: 100%;
    max-width: 48rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 15px;
    background-color:#0f225b;
    gap: 5px;
}

.guide-content

.credits {
    font-family: "HYWenHei", "Arial", "Helvetica", sans-serif;
}

.credits h2 {
    font-weight: normal;
}

.color-equip {
    color: #7dbbe3;
}

.color-support {
    color: #47c268;
}

.color-event {
    color: #e69138;
}

.color-pyro {
    color: #ff9999;
}

.color-electro {
    color: #ffacff;
}

.color-hydro {
    color: #4285f4;
}

.underline {
    text-decoration: underline;
}

.guide-content * {
    font-family: "Bai Jamjuree";
}