body {
    background-color: #12141f;
    margin: 0px;
}

nav {
    padding: 8px;
    width:100%;
    background-color: #0c1d51;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 8px;
    margin: 0px;
    font-family: "HYWenhei", "Arial", "Helvetica", sans-serif;
}

a {
    text-decoration: none;
}

nav ul li:hover {
    background-color: #183489;
}

footer {
    padding: 8px;
    width:100%;
    background-color: #0c1d51;
    position: fixed;
    bottom: 0;
    font-family: "HYWenhei", "Arial", "Helvetica", sans-serif;
}

/*Deck Guides stuff uses Bai Jamjuree for the nitty gritty text now :3*/